.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    background: blue;
    top: -12px;
    right: 32px;
    color: white;
    text-align: center;
    border-radius: 50%;
}

a {
    color: #343a40;
    text-decoration: none;

    &.active {
        color: orange;
    }
}

.logo {
    cursor: pointer;
}

