.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    background: blue;
    top: -12px;
    right: 32px;
    color: white;
    text-align: center;
    // padding: 0 5px;
    border-radius: 50%;
    // font-size: 0.8rem;
    // font-weight: bold;
    // transform: translate(50%, -50%);
    // z-index: 1;
}